@blue 		: #2a94fd;
@black  	: #171717;

@red 		: #FF7878;
@green 		: #31AD91;
@orange 	: #FF9800;

body{
	margin: 0;
	padding: 0;
	background: #F9F9F9;
	font-family: Roboto;
	font-weight: 300;
}

a,
a:hover,
a:visited,
a:active
a:focus{
	text-decoration: none;
}

// Helpers

.default-btn{
	float: right;
	color: #FFF;
	padding: 20px;
	margin-top: 30px;
	width: 220px;
	text-align: center;
	border-bottom: 3px solid rgba(42,118,253,1);
	font-weight: 100;
	background: #2a94fd;
	transition: .3s all;

	&:hover{
		background-color: rgba(42,118,253,1);
		color: #FFF;
	}
}

// Sidebar 

.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 150px;
	z-index: 100;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005ed1+0,2a94fd+100 */
	background: #005ed1; /* Old browsers */
	background: -moz-linear-gradient(126deg, #2a94fd 0%, #31AE8E 100%);
	background: -webkit-linear-gradient(126deg, #2a94fd 0%, #31AE8E 100%);
	background: linear-gradient(126deg, #2a94fd 0%, #31AE8E 100%);
	

	.profile{
		background: rgba(95, 95, 95,0.5);
		padding: 45px 50px;
	}

	ul{
		padding: 0;
		list-style: none;

		li{
			text-align: center;
			position: relative;
			border-top: 1px solid transparent;

			&.clicked{
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;

				ul{
					display: block;
				}
			}

			a{
				color: #fff;
			    padding: 30px 20px;
    			display: block;

				i{
					display: block;
					font-size: 40px;
				    margin-bottom: 10px;
				}
			}
		}

		ul{
			border-right: 0 solid #2A76FD;
			padding: 10px 0;
			overflow: hidden;
			transition: .3s all;
			display: none;

			li{
				text-align: left;
				padding: 0;

				a{
					padding: 5px 20px;
					display: block;
				}
			}
		}
	}
}

// Board

.board{
	margin-left: 150px;
	padding: 42px 30px;

	.board-header{
	    color: #000;
	    position: relative;
	    
	    h2{
	    	line-height: 83px;
			margin: 0;
			font-size: 22px;
			font-weight: 400;
			color: @blue;
	    }

	    .filters{
	    	position: absolute;
	    	right: 35px;
	    	line-height: 83px;
	    	top: 0;

	    	label{
	    		font-weight: 400;
	    		color: @blue;
	    	}

	    	select{
				border: 1px solid #EFEFEF;
				background: transparent;
				border-radius: 0;
				width: 120px;
				font-weight: 100;
				height: 50px;
				margin: 0 10px;
				color: #000000;
	    	}
	    }
	}

	.main{

		.inner{
			padding: 20px;
			background-color: #FFF;
			border: solid 1px #EFEFEF;
		}
	}
}

// dashboard

.board{
	.dash1{
		margin-left: -20px;
		margin-top: -20px;
	}
	section{
		padding-left: 20px;
	    padding-top: 20px;
		width: 25%;
	    float: left;

	    .content{
	    	display: inline-block;
		    vertical-align: middle;
		    padding: 0 20px;
	    }

	    .title{
		    vertical-align: middle;
	        font-weight: 100;
	        margin: 0;
            margin-bottom: 4px;
	    }

	    .value{
    	    font-size: 27px;
	        margin: 0;
	    }

		.wrapper{
			background: #fff;
		    box-shadow: 0px 1px 2px rgba(236, 236, 236, 0.8);
		    padding: 20px;
		}

	}
}

// sections

section{
	&.notifs{
		width: 40%;

		.wrapper{
			position: relative;
			padding: 24px;
		}

		figure{
			display: inline-block;
		    font-size: 20px;
		    width: 45px;
		    height: 45px;
		    line-height: 40px;
		    text-align: center;
		    background: @blue;
		    color: #fff;
		    border-radius: 50%;
		    padding: 13px 0;
		    margin: 0;
		    margin-right: 20px;

		    &.done{
				background: @green;
		    }

		    &.alert{
				background: @red;
		    }

		    &.warning{
				background: @orange;
		    }
		}

		ul{
			padding: 0;

			li{
				display: none;
				opacity: 0;
				transition:all 0.3s;
				
				p{
					display: inline-block;
				}

				&.active{
					display: block;
					opacity: 1;
				}
			}
		}

		.nav{
			position: absolute;
			right: 0;
			top: 0;
		    width: 60px;

			.nav-left,
			.nav-right{
				padding: 40px 10px;
				display: inline-block;
				color: @blue;
			}

			i{
				font-size: 20px;
			}
		}
	}

	&.order-status{
		width: 20%;

	    .title{
		    text-align: center;
	    }

	    figure{
	        display: inline-block;
		    padding: 30px;
		    font-size: 40px;
		    vertical-align: middle;
		    color: #fff;
	    }

	    .wrapper{
	    	padding: 0;
	    }

		&:nth-child(2){
			figure{
				background: @green;	
			}

			.value{
				color: @green;		
			}
		}
		
		&:nth-child(3){
			figure{
				background: @orange;	
			}

			.value{
				color: @orange;		
			}
		}

		&:nth-child(4){
			figure{
				background: @red;	
			}

			.value{
				color: @red;		
			}
		}
	}

    &.line-chart{
    	width: 70%;

    	.wrapper{
    		padding: 20px 0 20px 20px;
    	}
    }

    &.bar-graph{
    	width: 30%;

    	.wrapper{
    		padding: 20px;
    	}
    }
}

table{
	width: 100%;
	font-size: 14px;
	
	thead{

		tr{
			th{
				font-weight: 400;
				padding: 15px;

				&:first-child{
					width: 40px;
				}

				.checkbox{
					display: block;
					border: solid 1px #B5B5B5;
					width: 25px;
					height: 25px;
					margin: 0 auto;
					text-align: center;
					cursor: pointer;

				    &.checked:after{
						content: '\f00c';
						font-family: FontAwesome;
						line-height: 25px;
						text-align: center;
						color: #5D9051;
				    }
				}
			}
		}
	}

	tbody{

		tr{
			border-top: solid 1px #EFEFEF;
			transition: .2s all;

			&:nth-child(even){
				background-color: #FEFEFE;
			}

			&:hover{
				background-color: #BCDCFD;
			}

			td{
				font-weight: 100;
				padding: 15px;

				&:first-child{
					width: 40px;
				}
				
				.checkbox{
					display: block;
					border: solid 1px #B5B5B5;
					width: 25px;
					height: 25px;
					margin: 0 auto;
					text-align: center;
					cursor: pointer;

				    &.checked:after{
						content: '\f00c';
						font-family: FontAwesome;
						line-height: 25px;
						text-align: center;
						color: #5D9051;
				    }
				}
			}
		}

		.img-wrapper{
			width: 75px;
	    	object-fit: cover;
	        overflow: hidden;

		    img{
		    	height: 50px;
		    	object-fit: cover;
		    }
		}
	}
}

// chart

#canvas{
	width: 70%;
	height: auto;
}